/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap-sass/variables"
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap'

body
    background-color: #f2f2f2

    .navbar
        background-color: #ab47bc
        margin: 0
        padding: 0
        
        a
            color: white

    header
        background-color: #ba68c8
        background-image: url('//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/icon-seamless.png?16159681896060662723')

        h1
            padding: 40px 0
            color: white
            text-align: center
            margin-top: 0
            font-weight: bold
            text-transform: uppercase
            font-family: 'Roboto', sans-serif

